@use "sass:color";
@import '../src/styles/index.scss';

:root {
  font-family: 'Open Sans',Inter,Avenir,Helvetica,Arial, sans-serif;
  font-weight: 400;
  line-height: 16px;  
  
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  font-variant: small-caps slashed-zero;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  min-width: 100vw;
  max-width: 1280px;
  min-height: 100vh;
}
.clickable, a, button, .logo{
  cursor: pointer;
}

/// BUTTONS
.btn{
  position: relative;
  cursor: pointer;
  border: solid 1px transparent;
  border-radius: var(--base-padding);
  padding: var(--base-height);
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  &:hover{
    box-shadow: 0 2px .25rem var(--shadow-color);
  }
  &:active {
    box-shadow: 0 2px 0.5rem var(--shadow-color);
  }
}
.btn-icon{
  min-width: 2rem;
  min-height: 2rem;
  vertical-align: middle;
}
.btn-round{
  border-radius: 2rem;
}
.btn-circle{
  border-radius: 50%;
}
.btn-primary{
  border: solid 1px var(--primary) !important;
  background-color: var(--primary) !important;
}
.btn-default{
  border: solid 1px var(--border-color) !important;
  background-color: var(--bg-color) !important;
  color: var(--text-color)
}

/// INPUT
input, input[type="text"]{
  background-color: var(--input-bg);
  color: var(--text-color);
  padding: 0 var(--base-height);
  width: 100%;
  height: var(--input-height);
  outline: none;
  border: 1px solid transparent;
  border-radius: var(--base-height);
  border-left: solid 1px var(--border-color);
  //border-left: solid 1px transparent;
}
input.valid,
input[type=text].valid,
input[type=email].valid,
input[type=tel].valid,
textarea.valid{
  //border-bottom-color: var(--success) !important;
}
input.error,
input[type=text].error,
input[type=email].error,
input[type=tel].error,
textarea.error{
  //border-bottom-color: var(--danger) !important;
  //color: var(--danger) !important;
  position: relative;
  display: block;
}
.form-group{
  position: relative;
  .form-control{
    &.error{
      border-left-color: var(--danger) !important;
    }
    &.valid{
      border-left-color: var(--success) !important;
    }
  }
  &:before{
    content: ' ';
    z-index: 1;
    display: block;
    color: var(--danger);
    position: absolute;
    top: 2rem;
    right: 1rem;
    @include square(1.5rem);
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;

  }
  &:has(.form-control.error):before{
    @include svgIcon('warning-view');
    animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;  
  }
  &:has(.form-control.valid):before{
    border-radius: 50%;
    @include svgIcon('circle-tick-view');
    animation: glowing 2s cubic-bezier(.36,.07,.19,.97) both; 
  }
}