@import '../src/styles/index.scss';
:root {
  font-family: 'Open Sans',Inter,Avenir,Helvetica,Arial, sans-serif;
  line-height: 16px;
  font-weight: 400;

  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  min-width: 100vw;
  max-width: 1280px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.clickable, a, button, .logo{
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}