:root {
  color-scheme: light dark;

  --primary: #0948ae;
  --accent: #ca7e19;
  --tertiary: #56a7f3;

  --success: #139645;
  --warn: #caaf19;
  --danger: #bd2b17ea;

  --shadow-color: #8b8b8bb9;
  --disabled-color: #8f8f8f;

    --text-color: #cbcbcb;
    --bg-color: #242424;
    --bg2-color: #121212;

}
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #efefef;
    --bg-color: #242424;
    --bg2-color: #121212;
  }
}

@media (prefers-color-scheme: light) {
  :root {
  --text-color: #213547;
  --bg-color: #dfdfdf;
  --bg2-color: #ffffff;
  }
}