@mixin duration {
  transition: .4s;
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}

@mixin absolute ($dir: 'lt', $x: 0, $y: 0){
    position: absolute;
    @if $dir == 'lt' {
      left: $x;
      top: $y;
    } @else if $dir == 'lb' {
      left: $x;
      bottom: $y;
    } @else if $dir == 'rt' {
      right: $x;
      top: $y;
    } @else if $dir == 'rb' {
      right: $x;
      bottom: $y;
    } @else {
      @error "Unknown direction #{$dir}.";
    }
}

@mixin rect($width, $height, $radius: 0) {
  width: $width;
  height: $height;

  @if $radius !=0 {
    border-radius: $radius;
  }

}

@mixin square($width, $radius: 0) {
  @include rect($width, $width, $radius)
}
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin centerd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin tranzition {
  transition: all .3s ease-in ease-out;//cubic-bezier(.78, .14, .15, .86);
}