@use './mixins' as *;

.blurred {
  background: var(--bg-color);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
  .blurred {
    backdrop-filter: blur(5px);
  }
}

.centered {
  @include centerd;
}


@mixin shadowHover{
  box-shadow: 0 2px .25rem var(--shadow-color);
}
@mixin shadowActive {
  box-shadow: 0 2px 0.5rem var(--shadow-color);
}

@mixin svgIcon($view) {
  background-image: url("./assets/images/multi-set.svg#" + $view);
  //  -webkit-mask-image: url("./assets/images/multi-set.svg#" + $view) no-repeat 50% 50%;
  //  mask-image: url("./assets/images/multi-set.svg#" + $view) no-repeat 50% 50%;
}

.shadow:hover{
  box-shadow: 1px 0px .5rem var(--shadow-color);
}



.bg-primary{
  background-color: var(--primary) !important;
}
.bg-accent{
  background-color: var(--accent) !important;
}
.bg-tertiary{
  background-color: var(--tertiary) !important;
}
.bg-success{
  background-color: var(--success) !important;
}
.bg-warn{
  background-color: var(--warn) !important;
  // color: var(--text2-color);
}
.bg-danger{
  background-color: var(--danger) !important;
}

.mt-1{
  margin-top: var(--base-height);
}
.ml-auto {
  margin-left: auto!important;
}
.mr-auto {
  margin-right: auto!important;
}




@keyframes shake {
  10%, 90% {
    transform: translate3d(-.125rem, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(.25rem, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(.5rem, 0, 0);
  }

  40%, 60% {
    transform: translate3d(.25rem, 0, 0);
  }
}

@keyframes glowing {
  10%, 50%, 90% {
    box-shadow: 0 0 .065rem .125rem var(--text2-color);
  }
  

  30%, 70% {
    box-shadow: 0 0 .125rem .065rem var(--success);
  }
}